/*
Color Scheme:
#132333 blue-black;
#0A2239 cobalt;
#548BBF sky-blue;
#1C6BB5 lake-blue;
#165087 ocean-blue;
#A0B7D8 ice-white;
#A0B7D8 snow-blue;
#CACFD6 graey;
#506075 unenthused-blue;
#182333 black-blue;


*/
:root {
	--blue-black: #132333;
	--cobalt: #0A2239;
	--sky-blue: #548BBF;
	--lake-blue: #1C6BB5;
	--ocean-blue: #165087;
	--ice-white: #E5E7E6;
	--snow-blue: #A0B7D8;
	--graey: #CACFD6;
	--unenthused-blue: #506075;
	--black-blue: #0D0221;
	--transparent-blue: rgba(40,50,100,0.7);
	--selected-blue: #6eaae2;
	--hover-blue: #0078bd;
}

@keyframes pulse {
	from {
		box-shadow: 0 0 0 0 rgba(255,0,0,0.7);
	}
	to {
		box-shadow: 0 0 0 40px rgba(255,0,0,0);
	}
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	font: 16px sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: var(--ice-white);
	overflow: hidden;
	background: black;
	padding: 0;
	margin: 0;
}
/**{
	border: 1px solid goldenrod;
}*/
button {
	color: var(--ice-white);
	background: var(--snow-blue);
	border: none;
	font-size: 14pt;
	padding: 20px;
	cursor: pointer;
	outline: 0;
	margin: 5px;
}
#x {
	display: block;
	position: fixed;
	left: 5px;
	top: 5px;
	width: 40px;
	height: 23px;
	color: var(--ice-white);
	background-color: rgba(255,0,0,0.6);
	text-align: center;
	cursor: pointer;
	padding: 0px;
	z-index: 500;
	border-radius: 3px;
}
#cameraFeed {
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 101;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
#cameraFeed > img {
	width: 100%;
	height: auto;
	transform: scale(1,1);
}
#cameraFeed.camera {
	width: auto;
	height: 100%;
}
#app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
#camera {
	padding: 0;
	width: 50%;
	height: 100%;
	overflow: hidden;
	background-color: var(--blue-black);
	position: relative;
}
#notcamera {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	background: linear-gradient(-50deg, var(--black-blue) 30%, var(--unenthused-blue) 30.01%, var(--unenthused-blue) 40%, var(--lake-blue) 40.01%, var(--lake-blue) 41%, var(--black-blue) 41.01%);
}
.vertContain {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
}
.disabled {
	background: red !important;
}
#rightSlow {
	margin: 0;
}
#leftLevel {
	margin: 15px;
}
.vertContain > div:first-child {
	margin-top: 15px;
}
.indicator {
	height: calc(calc(100% / 3) - 20px);
	margin-bottom: 15px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-color: var(--transparent-blue);
}
#showAuto {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: var(--transparent-blue);
	position: absolute;
	bottom: 10px;
	left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16pt;
	text-align: center;
	z-index: 100;
	cursor: pointer;
}
#showAuto:hover {
	background-color: rgba(50,65,110,0.7); 
}
#showAuto.unconfirmed {
	animation: 1s linear infinite both pulse;
}
#showAuto.confirmed {
	opacity: 0.5;
}
#autoMenu {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 101;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
#slowText:before {
	content: "No\00a0";
}
div.fast:before {
	content: "Fast\00a0" !important;
}
div.slow:before {
	content: "Slow\00a0" !important;
}
#slowMode{
	height: calc(calc(calc(calc(100% / 3) - 20px) * 3) + 30px);
	width: calc(100% - 15px);
	background: var(--transparent-blue);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.text {
	width: -webkit-fill-available;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25pt;
	height: 100%;
}
.text:before {
	content: "Not\00a0";
}
.text.enabled:before {
	content: "Is\00a0";
}
#driverStation {
	width: 100%;
	height: 25%;
}
#container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 5px;
	height: -webkit-fill-available;
}
#speed {
	width: calc(100% - 110px);
}
.enabler {
	background-color: hsla(200, 50%, 50%,0.3);
	font-size: 16pt;
	height: 100%;
	width: 40%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
div.enabled.enabler {
	background-color: green;
}
.selector {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 30px;
	font-size: 16pt;
	width: -webkit-fill-available;
	padding: 10px;
	background: var(--lake-blue);
}

.selector > input{
	position: fixed;
	opacity: 0;
	top: -20px;
	left: -20px;
}
.selector > span {
	margin: 10px;
	align-self: flex-start;
}
input[type="radio"]:checked+label {
	transition: background-color 0.1s;
	background-color: var(--selected-blue) !important;
}

.selector > label {
	display: block;
	transition: background-color 0.1s;
	background-color: var(--ocean-blue);
	padding: 30px;
	padding-top: 20px;
	padding-bottom: 20px; 
	min-width: 75%;
	margin-bottom: 10px;
	cursor: pointer;
	text-align: center;
}

.selector > label:hover {
	background-color: var(--hover-blue);
	transition: background-color 0.1s;
	box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
}

#setter {
	padding: 10px;
	background-color: #606060;
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	max-width: 87%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1%;
}
.submitBtn {
	padding: 5px;
	background-color: #707070;
	transition: background-color 0.1s;
	border-radius: 2px;
	cursor: pointer;
}
.submitBtn:hover {
	background-color: #808080;
	transition: background-color 0.1s;
	box-shadow: 0 2px 10px -2px rgba(0,0,0,0.2); 
}
.submitBtn:active {
	background-color: #707070;
	transition: background-color 0.1s;
}
select > option {
	background-color: #222;
	color:var(--ice-white);
	outline: none;
}
select {
	outline: none;
	border: none;
	color: var(--ice-white);
	background-color: transparent;
	background-color: #222;
	font-size: 0.9em;
	padding: 2px;
	border-radius: 3px;
}
#topbar > select {
	margin-right: 100px;
}
#topbar {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: calc(100% - 20px);
	background-color: #4A4A4A;
	padding: 10px;
	position: relative;
	top: 0;
	left: 0;
}
#topbar > .submitBtn {
	margin-left: 5px;
	margin-right: 5px;
}
#currentConfig {
	width: 100%;
	height: 100%;
}
#currentConfig > table{
	margin-top: 1%;
	margin-bottom: 1%;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
#profile{
	margin-right: 10px;
	margin-left: 10px;
}
#setter > * {
	margin-right: 5px;
	margin-left: 5px;
}
#pressedKey {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	border-radius: 2px;
	background-color: #888;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.1em;
	margin-left: 5px;
	margin-right: 5px;
}
.innerinner > select{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1em;
}
.innerinner > * {
	margin-left: 5px;
	margin-right: 5px;
}
.innerinner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
}
.modal-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.6);
	z-index: 100;
}

.modal-inner {
	background-color: #606060;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.modal-inner2 {
	background-color: #606060;
	padding: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.modal-inner2 > *{
	margin-left: 5px;
	margin-right: 5px;
}
.roboButtons {
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px; 
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
}
.horizontalAlign {
	display: flex;
	width: 100%;
	height: 75%;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}
#roboTitle {
	width: 100%;
}

th {
	padding-top: 5px;
	padding-bottom: 5px;
}
table, td {
	table-layout: fixed;
	border-collapse: collapse;
}
td {
	table-layout: fixed;
	text-align: center;
	padding: 10px;
}
tr:hover td {
	background: #555;
}

tbody tr:nth-child(even) {
	background-color: #444;
}
tbody tr:nth-child(odd) {
	background-color: #4A4A4A;
}
input[type="text"] {
	background-color: #222;
	color: var(--ice-white);
	padding: 6px;
	outline: none;
	border: none;
	font-size: 1em;
	text-align: center;
}