:root {
	--black: #2A2D34;
	--gray: #110916;
	--viridian-green: #2F9C95;
	--other-green: #40C9A2;
	--white: #E5F9E0;
	--gradientend: rgba(209, 0, 255, 1);
	--gradientmid: rgba(255, 184, 0, 1);
	--circleDiameter: 90px;
}

@keyframes gradient {
	0% {
		background-position: 0% 100%;
	}
	100% {
		background-position: 100% 0%;
	}
}

html, body, #root {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: var(--black);
	overflow: hidden;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#root {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}
.column {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	background-color: var(--gray);
	padding-left: 20px;
	padding-right: 20px;
	height: 100%;
}
.camera{
	background-size: contain;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 100%;
}
.circleIndicator {
	width: var(--circleDiameter);
	height: var(--circleDiameter);
	border-radius: var(--circleDiameter);
	background: var(--gray);
	display: flex;
	justify-content: center;
	align-items: center;
	color: transparent;
	font-weight: bold;
	font-size: 1.75em;
	margin: 5px;
	position: relative;
}
.circleIndicator::before {
	content: "";
	width: calc(var(--circleDiameter) + 10px);
	height: calc(var(--circleDiameter) + 10px);
	position: absolute;
	top: -5px;
	left: -5px;
	border-radius: var(--circleDiameter);
	background-clip: unset !important;
	z-index: -1;
}
.circleContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	margin: 5px;
	position: relative;
	z-index: 1;
}
.indicatorBox {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: row;
}
.circleTitle {
	max-width: calc(var(--circleDiameter) + 20px);
	text-align: center;
	font-weight: bolder;
	font-size: 1.25em;
}
.radioDisplay {
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-color: var(--gray);
	color: var(--white);
	font-weight: bold;
	font-size: 1.5em;
}
.radioButton {
	background-color: var(--black);
	padding: 30px;
}
.selected {
	background-color: var(--gradientend);
}
.gradient, .circleIndicator::before {
	background: linear-gradient(to right, #0575e6, #021b79);
	background-size: 100% 100%;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}